* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfe5ec;
}

/* Navegacion  */

.Navbar {
  width: 100%;
 
}

i{
  color: white;
}

.icon:hover{
  color:#f85555 ;
}
.TitleNavar {
  color: #f85555;
}

.Filter-Category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.Categorys {
  margin-bottom: 20px;
}

.menu {
  width: 60%;
  height: 1200px;
  z-index: 100;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #f2eded;
}

/* Input */

.Cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  padding: 2rem;
  gap: 6rem;
}
.Card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.Input {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.InputPrice {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.Buton-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.Buton-input button {
  background-color: #f85555;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

/* Products  */

.Carousel {
  width: 300px;
  height: 400px;
}

.FlexProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sumRes {
  color: black;
}
.Counter {
  width: 50px;
}

.ContadorCart {
  width: 30px;
}

/* Products similares */

.Footer {
  background-color: #515151;
  padding: 80px 0;
  color: white;
  position: relative;
  bottom: -164.8px;
}

.Contenedor-Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.Copyrigth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hidden {
  display: none;
  color: black;
}

.TitleCarrito {
  padding: 1rem;
}

.visible {
  display: inherit;
}

.Punto i {
  color: #f85555;
}

.Carousel {
  width: 400px;
  height: 400px;
}

.item {
  padding: 1rem;
}

.Caracteriticas {
  width: 300px;
}

.Home {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.ButonComprar {
  width: 300px;
  height: 55px;
  background-color: #f85555;
  color: white;
  border: 0;
  cursor: pointer;
}
.Buton-precio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Precio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.Buton {
  padding: 1rem;
}

.item img {
  width: 200px;
  height: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.Productos-Similares {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 30px auto;
}

.ParrafoItems {
  padding: 1rem;
  text-align: center;
  color: #f85555;
}

.AddCartProduct {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #f85555;
  border: 0;
  position: relative;
  left: 60px;
}
.AddCart{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #f85555;
  border: 0;
}
.Price-Buton {
  justify-content: space-between;
   display: flex;
  align-items: center;
}

.Parrafo-home {
  font-size: 12px;
}


/* Purchases */

.Contenedor-Purchases {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.Links {
  text-decoration: none;
}

.Titulo-purchases {
  padding: 3rem;
  margin-bottom: 20px;
}

.CardPurchases {
  border-radius: 10px;
  box-shadow: rgb(237, 226, 226);
}

.Carrito {
  margin-bottom: 50px;
}

.FlexImgs {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 30px;
}
.Flex-Column {
  display: flex;
  flex-direction: column;
}

.Total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  gap: 1rem;
}

.Trash {
  border: 0;
}

.Trash i {
  color: #f85555;
}

.listasCart {
  list-style-type: none;
}

.img-cart {
  width: 70px;
}

.ScrollCart {
  overflow-y: scroll;
  height: 400px;
}

.Total-Final {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Buton-Comprar {
  width: 200px;
  height: 40px;
  border: 0;
  background-color: #f85555;
  color: white;
}

.Buton-COT {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Input Loding  */

.Contenedor-Formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Input-Registro {
  padding: 4rem;
  background-color: #fff;
  width: 320px;
  height: 650px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  color: #1c1e21;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.Registro {
  padding: 1rem;
  text-align: center;
}

.test {
  padding: 1rem;
  background-color: #f29b9b;
  width: 300px;
  
  margin-bottom: 20px;
  border-radius: 8px;
  height: 240px;
}
.test p {
  margin-left: 30px;
}

.Tes-data {
  margin-bottom: 20px;
  text-align: center;
}
.Buton-login {
  margin-bottom: 20px;
 border-radius: 8px;
}

/* Creacion de cuenta */

.NuevaCuenta{
  background-color: #48d32c;
  color: wheat;
  list-style-type: none;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
 }

 .link{
    text-decoration: none;
 }

 .LinkSpan{
  color: white;
 }

 .Registro-Nuevo{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 600px;
 }

 .Formulario{
  background-color: rgb(237, 235, 235);
  box-shadow: 2px 2px 8px rgba(0,0,0);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 320px;
  height: 450px;
 }

 .Contenedor-Dates{
  margin-bottom: 15px;
 }

 .Contenedor-Dates input {
     width: 200px;
     height: 30px;
     border: 0;
  } 



 .ButonRegistro{
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #47c12e;
 }

 .Contenido-Usuario{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 600px;
 }

 .Usuarios{
  background-color: rgb(237, 235, 235);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0);
  width: 320px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .Mi-Usuario{
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 12px;
}

.Cerrar-sesion{
  color: rgb(26, 104, 171);
}


/*  Media queris  */

@media screen and (min-width: 768px) {
  /* Input y Card */
  .Input-Flex {
    display: block;
    padding: 0;
    gap: 0;
  }

  .Categorys {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    top: 0;
  }

  .Raya {
    display: none;
  }

  .Cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Navegacion  */

  .menu {
    width: 40%;
    height: 1200px;
    top: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    background-color: #f2eded;
  }

  /* Products  */

  .FlexProductos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    }

  .Boton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ButonComprar {
    width: 300px;
  }

  .Caracteriticas {
    width: 300px;
  }

  .Carousel {
    width: 400px;
  }

  .Precio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
  }

  .Parrafo {
    width: 300px;
  }
  .Home {
    padding: 1rem;
    margin-left: 0;
  }

  /* Productos similares  */

  .Productos-Similares {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  /*Purchases */

  .Contenedor-Purchases {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .Links {
    text-decoration: none;
  }

  .Titulo-purchases {
    padding: 3rem;
    margin-bottom: 20px;
  }

  .CardPurchases {
    border-radius: 10px;
    box-shadow: rgb(237, 226, 226);
  }

  .FlexImgs {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
  }
  .Flex-Column {
    display: flex;
    flex-direction: column;
  }

  .Total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
    gap: 1rem;
  }

  .Trash {
    border: 0;
  }

  .Trash i {
    color: #f85555;
  }

  .listasCart {
    list-style-type: none;
  }

  .img-cart {
    width: 70px;
  }

  .Input-Registro {
    padding: 4rem;
    background-color: #fff;
    width: 400px;
    height: 650px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    color: #1c1e21;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .test {
    padding: 1rem;
    background-color: #f29b9b;
    width: 350px;
    
    margin-bottom: 20px;
    border-radius: 8px;
    height: 240px;
  }

  .NuevaCuenta{
    background-color: #48d32c;
    color: wheat;
    list-style-type: none;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
   }
  
   .link{
      text-decoration: none;
   }
  
   .LinkSpan{
    color: white;
   }
  
   .Registro-Nuevo{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 600px;
   }
  
   .Formulario{
    background-color: rgb(237, 235, 235);
    box-shadow: 2px 2px 8px rgba(0,0,0);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 400px;
    height: 450px;
   }
  
   .Contenedor-Dates{
    margin-bottom: 15px;
   }
  
   .Contenedor-Dates input {
       width: 200px;
       height: 30px;
       border: 0;
    } 
  
  
  
   .ButonRegistro{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #47c12e;
   }
  
   .Contenido-Usuario{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 600px;
   }
  
   .Usuarios{
    background-color: rgb(237, 235, 235);
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0);
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
  
   .Mi-Usuario{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 12px;
  }
  
  .Cerrar-sesion{
    color: rgb(26, 104, 171);
  }
}

@media screen and (min-width: 1024px) {
  /*Navegacion  */

  a {
    text-decoration: none;
  }
  i {
    color: white;
  }

  .menu {
    width: 25%;
    height: 1200px;
    top: 92px;
    right: 0;
    z-index: 100;
    position: absolute;
    background-color: #f2eded;
  }

  .hidden {
    display: none;
    color: black;
  }
  .TitleCarrito {
    padding: 1rem;
  }

  .visible {
    display: inherit;
  }

  /* Cards Grid  */

  .Cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .Card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .Cards-General {
    width: 500px;
  }

  /* Hr  */
  .Raya {
    width: 60%;
  }

  /* Inpunt  */

  .Input {
    margin: 0 auto;
    display: block;
  }

  .Description {
    height: 50px;
  }

  .Precio {
    margin: 20px auto;
  }
  /* Title    */
  .Title {
    max-width: 100%;
    font-size: 1rem;
    object-fit: contain;
  }

  .Price-Buton {
    justify-content: space-between;
     display: flex;
    align-items: center;
  }

  .Parrafo-home {
    font-size: 13px;
  }

  .Columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Input-Flex {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
  }

  .Filter-Category {
    display: block;
  }

  .Categorys {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
  }

  /* Products  */

  .Carousel {
    width: 500px;
    height: 400px;
  }

  .item {
    padding: 1rem;
  }

  .item img {
    width: 300px;
    height: 340px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }

  .FlexProductos {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -300px;
    gap: 10rem;
    padding: 2.5rem;
  }

  .Parrafo {
    width: 700px;
  }

  .Precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
  }

  .Boton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 600px;
  }

  .ButonComprar {
    width: 700px;
    height: 55px;
    background-color: #f85555;
    color: white;
    border: 0;
    cursor: pointer;
  }
  /* Productos similares   */

  .Productos-Similares {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 30px auto;
  }

  .Similar {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .ParrafoItems {
    padding: 1rem;
    text-align: center;
    color: #f85555;
  }

  .Home {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 30px;
    padding: 1.5rem;
    text-decoration: none;
  }

  .Punto i {
    color: #f85555;
  }

  .AddCart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #f85555;
    border: 0;
  }

  .Buton-precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Footer  */

  .Footer {
    background-color: #515151;
    padding: 80px 0;
    color: white;
    position: relative;
    bottom: -164.8px;
  }

  .Contenedor-Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .Copyrigth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .Redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  /*Purchases */

  .Contenedor-Purchases {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .Links {
    text-decoration: none;
  }

  .Titulo-purchases {
    padding: 3rem;
    margin-bottom: 20px;
  }

  .CardPurchases {
    border-radius: 10px;
    box-shadow: rgb(237, 226, 226);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .Acordion {
    width: 300px;
  }

  .InputPrice {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  .Buton-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
  .Buton-input button {
    background-color: #f85555;
    color: white;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 30px;
  }
  /* Input-Loding */

  .Contenedor-Formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Input-Registro {
    padding: 4rem;
    background-color: #fff;
    width: 450px;
    height: 620px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    color: #1c1e21;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }

  .Registro {
    padding: 1rem;
    text-align: center;
  }
  /* Cart */

  .img-cart {
    width: 70px;
  }

  .Carrito {
    margin-bottom: 50px;
  }

  .FlexImgs {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 30px;
  }
  .Flex-Column {
    display: flex;
    flex-direction: column;
  }

  .Total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;
    gap: 1rem;
  }

  .Trash {
    border: 0;
  }

  .Trash i {
    color: #f85555;
  }

  .listasCart {
    list-style-type: none;
  }

  .Section-Buton {
    position: static;
    text-align: center;
    height: 200px;
    position: relative;
    bottom: -40px;
  }
  .ScrollCart {
    overflow-y: scroll;
    height: 400px;
  }

  .Total-Final {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .Buton-Comprar {
    width: 300px;
    height: 40px;
    border: 0;
    background-color: #f85555;
    color: white;
  }

  .Buton-login {
    margin-bottom: 20px;
  }

  .test {
    padding: 1rem;
    background-color: #f29b9b;
    width: 400px;
    border-radius: 8px;
    height: 220px;
    margin-bottom: 15px;
    
  }
  .test p {
    margin-left: 30px;
  }

  .Tes-data {
    margin-bottom: 20px;
    text-align: center;
  }
  /* Creacion de cuenta */

  .NuevaCuenta{
    background-color: #48d32c;
    color: wheat;
    list-style-type: none;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
   }

   .link{
      text-decoration: none;
   }

   .LinkSpan{
    color: white;
   }

   .Registro-Nuevo{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 600px;
   }

   .Formulario{
    background-color: rgb(237, 235, 235);
    box-shadow: 2px 2px 8px rgba(0,0,0);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 400px;
    height: 450px;
   }

   .Contenedor-Dates{
    margin-bottom: 15px;
   }

   .Contenedor-Dates input {
       width: 200px;
       height: 30px;
       border: 0;
    } 

  

   .ButonRegistro{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #47c12e;
   }

   .Contenido-Usuario{
       display: flex;
       align-items: center;
       justify-content: center;
       height: 600px;
   }

   .Usuarios{
    background-color: rgb(237, 235, 235);
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0);
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }

   .Mi-Usuario{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 12px;
  }

  .Cerrar-sesion{
    color: rgb(26, 104, 171);
  }

   



   
}
